{% extends 'base.html' %}

{% block head %}
    <title>Movies</title>
    <style>
        body {
            background-color: black; /* Изменение цвета фона на черный */
        }
    </style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            {% include 'header.html' %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-12">
                {% for msg in messages %}
                    <p class="error-message">{{ msg }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-8 offset-2">
        <form action="{% url 'movies' %}" method="POST" class="my-5">
            {% csrf_token %}
            {% for field in form %}
                <div class="md-3" >
                    <label class="form-label" for="{{ field.auto_id }}"></label>
                    {{ field }}
                    {% if field.errors|length > 0 %}
                        <div class="text-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="d-flex justify-content-end">
                <button class="btn btn-success" type="submit"> Create Movies </button>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-12">
            <h1>Movies</h1>
        </div>

        {% if movies|length > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Producer</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for movie in movies %}
                        <tr>
                            <td>{{ movie.title }}</td>
                            <td>{{ movie.description }}</td>
                            <td>{{ movie.producer }}</td>
                            <td>{{ movie.duration }}</td>
                            <td>
                                <a href="{% url 'delete_movie_page' pk=movie.id %}" class="delete-link">
                                    <button class="btn btn-danger">Delete</button>
                                </a>

                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="col-12">
                <p style="text-align: center;">Alas, No Magical Movies Found </p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
